### Application logs ###
*.log

### Application ini file ###
src/config.ini

### Python ###
__pycache__/
.pytest_cache/

### pyinstaller ###
src/build/
src/dist/

### VisualStudio ###
/.vs/auto_tests/v16/.suo

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


