### Application logs ###
*.log

### Python ###
__pycache__/
.pytest_cache/

### VisualStudio ###
/.vs/auto_tests/v16/.suo

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


