################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/auto_tests/v16/.suo
/downstream_tests/logs
/downstream_tests/__pycache__
